html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #333;
}

a, button {
    cursor: pointer;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    color: #555555;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 720px) {
    .container-fluid {
        padding: 0 15px;
    }
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page-content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.breadcrumbs {
    &__inner {
        padding: 20px;
        text-align: center;
        margin-top: -68px;
    }
    &__list {
        li {
            display: inline-block;
            position: relative;
            & + li {
                padding-left: 25px;
                &::before {
                    content: "/";
                    color: #fff;
                    position: absolute;
                    left: 10px;
                }
            }
            &:last-child {
                a,
                span {
                    color: #bfcad7;
                }
            }
        }
        a {
            color: #fff;
        }
    }
} 