@import 'vars';
@import 'global';
@import 'fonts';

//Start header
.header {
    &__top {
        background-color: #e7ecf2;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    &__btn {
        background-color: $blue;
        padding: 4px 18px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: 50px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        a {
            color: #fff;
        }
    }
    &__user {
        display: flex;
    }
    &__user-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__user-box {
        margin-left: 20px;
        a {
            display: block;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
        }
        .header__user-balance {
            color: $blue;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    height: 80px;
    &__list {
        li {
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            display: inline-block;
            & + li {
                margin-left: 35px;
            }
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        &-form {
            max-width: 360px;
            width: 100%;
            position: relative;
            input {
                display: block;
                width: 100%;
                height: 46px;
                border-radius: 22px;
                border: 1px solid #d9dfe5;
                font-size: 15px;
                outline: none;
                padding-left: 25px;
                padding-right: 85px;
                &::placeholder {
                    color: $grey;
                }
            }
            button {
                width: 70px;
                height: 46px;
                border-radius: 22px;
                position: absolute;
                border: none;
                background-color: $blue;
                right: 0;
                top: 0;
                .lnr-magnifier {
                    color: #fff;
                }
            }
        }
    }
}

//End header
//Start search

.search {
    min-height: 725px;
    background-color: #1136bf;
    &__inner {
        padding: 185px 0px 100px;
        color: #fff;
        text-align: center;
        &-title {
            font-size: 60px;
            line-height: 70px;
            margin-bottom: 30px;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
            span {
                display: block;
                font-weight: 700;
            }
        }
        &-text {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 70px;
            color: #f3f3f8;
        }
        &-links {
            a {
                padding: 0px 33px;
                height: 55px;
                border-radius: 26px;
                margin: 15px;
                font-size: 15px;
                line-height: 25px;
                padding-top: 15px;
                background-color: transparent;
                color: #fff;
                border: 1px solid white;
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
                &:hover {
                    background-color: #fff;
                    color: #1136bf;
                }
            }
            
        }
        &-form {
            max-width: 1140px;
            width: 100%;
            background-color: #fff;
            height: 135px;
            border-radius: 6px;
            text-align: left;
            font-size: 16px;
            padding: 40px;
            position: relative;
            bottom: -170px;
            .shadow1 {
                max-width: 1110px;
                width: 100%;
                height: 20px;
                border-radius: 6px;
                opacity: 0.5;
                position: absolute;
                background-color: #fff;
                top: -13px;
                left: 15px;
            }
            .shadow2 {
                max-width: 1080px;
                width: 100%;
                height: 40px;
                border-radius: 6px;
                opacity: 0.5;
                position: absolute;
                background-color: #fff;
                top: -26px;
                left: 30px;
            }
            input {
                max-width: 800px;
                width: 100%;
                height: 55px;
                padding: 0px 222px 0px 30px;
                border: 1px solid #dcdcdc;
                border-radius: 4px;
                outline: none;
                &::placeholder {
                    color: $grey;
                }
            }
            select {
                min-width: 192px;
                height: 55px;
                border: none;
                -webkit-appearance: none;
                appearance: none;
                padding-left: 20px;
                padding-right: 40px;
                margin-left: -4px;
                border-left: 1px solid #dcdcdc;
                outline: none;
                position: absolute;
                top: 40px;
                right: 295px;
                background: none;
            }
            button {
                width: 223px;
                height: 55px;
                background-color: $blue;
                border-radius: 4px;
                border: none;
                color: #fff;
                margin-left: 30px;
                position: absolute;
                top: 40px;
                right: 40px;
            }
            .form__select::before {
                content: "";
                width: 13px;
                height: 8px;
                display: block;
                background-image: url(../images/icons/arrow-down.png);
                position: absolute;
                top: 65px;
                right: 315px;
            }
        }
    }
}

//End search
//Start content

.content {
    min-height: 710px;
    padding-top: 185px;
    padding-bottom: 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;
        &-item {
            width: 365px;
            height: 405px;
            padding: 40px 0px 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            &:hover {
                box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
            }
            .content__item-img {
                width: 120px;
                height: 120px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .content__item-title {
                font-size: 24px;
                color: #010101;
                margin-top: 30px;
                margin-bottom: 20px;
            }
            .content__item-text {
                font-size: 16px;
                line-height: 30px;
                color: #555555;
                padding: 0px 30px;
            }
        }
    }
}

//End content
//Start slider

.slider {
    min-height: 850px;
    background-color: $bg-grey;
    padding-top: 120px;
    &__top {
        height: 110px;
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        &-title {
            font-size: 30px;
            font-weight: 400;
            color: #000;
        }
        &-arrows {
            width: 100px;
            height: 45px;
            border-radius: 22px;
            background-color: $purple;
            margin-right: 30px;
        }
    }
    &__inner {
        padding-top: 50px;
    }
    &__item {
        display: flex !important;
        &-img {
            width: 555px;
            height: 450px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &-content {
            max-width: 585px;
            max-height: 450px;
            background-color: #fff;
            padding: 25px 20px 20px 20px;
            box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
            .item__text {
                font-size: 16px;
                line-height: 30px;
                font-weight: 400;
                padding: 0;
                margin: 30px;
            }
            .item_tags {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-left: 30px;
                margin-right: 50px;
                border-bottom: 1px solid #ececec;
                padding-bottom: 45px;
                .tag {
                    padding: 0px 15px;
                    border-radius: 14px;
                    color: #868c96;
                    background-color: #f1f3f6;
                    & + .tag {
                        margin-left: 7px;
                    }
                }
            }
            .item-details {
                height: 80px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 0 30px;
                .details__price {
                    background-color: $blue;
                    color: #fff;
                    height: 32px;
                    padding: 0px 19px;
                    border-radius: 16px;
                }
                .details__likes {
                    margin-left: 20px;
                    
                    span {
                        color: $purple;
                    }
                }
                .details__cart {
                    margin-left: 20px;
                    color: $blue;
                    
                }
                .rating {
                    margin-right: 0;
                    margin-left: auto;
                    color: #ffc000;
                }
            }
        }
    }
}
  
.slick-next.slick-arrow,
.slick-arrow.slick-prev {
    background-color: transparent;
    color: #fff;
    border: none;
    height: 45px;
    width: 55px;
    position: absolute;
    outline: none;
}
.slick-next.slick-arrow {
    top: -77px;
    right: 30px;
}
.slick-arrow.slick-prev {
    top: -77px;
    right: 75px;
}

//End slider
//Start products
.products {
    padding-top: 120px;
    min-height: 1730px;
    background-color: $light-grey;
    &__top {
        height: 110px;
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        &-title {
            font-size: 30px;
            line-height: 45px;
            color: black;
            font-weight: 500;
        }
        &-filter {
            font-size: 16px;
            color: #747b86;
            margin-left: auto;
            margin-right: 25px;
        }
        &-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 30px;
        }
    }
    &__inner-btn {
        height: 90px;
        margin-top: 30px;
        padding-left: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #fff;
        font-size: 15px;
        line-height: 22px;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        border-radius: 4px;
        button {
            padding: 7px 20px;
            border-radius: 15px;
            border: none;
            background-color: #f1f3f6;
            color: #747b86;
            outline: none;
            & + button {
                margin-left: 10px;
            }
            &.mixitup-control-active {
                background-color: $blue;
                color: #fff;
            }
        }
    }
    .products__inner-box {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .product__item {
            max-width: 361px;
            margin-bottom: 30px;
            box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
            }
    }
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #a3b1c4;
    margin: 2px;
}

.product__item-img {
    width: 361px;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:hover .item__btn {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s;
        opacity: 0.9;
    }
    &:hover .item__btn a {
            display: block;
        }
}

.item__btn {
    height: 0px;
    a {
        display: none;
        font-size: 15px;
        line-height: 15px;
        padding: 14px 30px;
        border: 1px solid #fff;
        border-radius: 23px;
        color: #fff;
        margin: 5px;
        &:hover {
            background-color: #fff;
            color: $blue;
            transition: all .5s;
        }
    }
}

.product__item-content {
    background-color: #fff;
    max-width: 361px;
}

.item__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
    padding: 25px 0px 10px 30px;
}

.item__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    &-avatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-right: 7px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    a {
        font-size: 15px;
        font-weight: 500;
        color: #000;  
    }
    &-category-logo {
        width: 20px;
        height: 20px;
        margin-right: 7px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        margin-left: 30px;
    }
    &-category {
        font-size: 15px;
        font-weight: 500;
        color: #7347c1;
    }
}
.item__text {
    padding: 35px 30px;    
}

.product__item-details {
    max-width: 361px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid $light-grey;
    font-size: 15px;
    color: $blue;
    font-weight: 700;
    &-price {
        background-color: #e6f1fd;
        min-width: 60px;
        padding: 0px 19px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
        margin: 15px 13px 15px 30px;
    }
    &-likes,
    &-cart {
        margin-right: auto;
        display: flex;
        align-items: center;
    
        div {
            margin-left: 5px;
        }
    }
    &-likes {
       color: #6f7d8d;
       .lnr-heart:before {
        color: #7f4ec2;
        }
    }
    &-cart {
        .lnr-cart::before {
            color: $blue;
        }
        margin-right: 30px;
    }
    .rate-star {
        padding-left: 0px;
        margin: 0;
    }
    .rating {
        color: #ffc000;
    }
}

.products__inner-botbtn {
    text-align: center;
    button {
        padding: 0px 33px;
        height: 55px;
        font-size: 16px;
        margin-top: 55px;
        margin-bottom: 120px;
        background-color: #0674ec;
        color: #fff;
        border-radius: 27px;
        border: none;
        outline: none;
    }
}
//End products
//Start followers
.followers {
    min-height: 930px;
    background-color: $bg-grey;
    padding-top: 120px;
    padding-bottom: 120px;
    &__top {
        height: 110px;
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        &-title {
            font-size: 30px;
            font-weight: 400;
            color: #000;
        }
        &-arrows {
            width: 100px;
            height: 45px;
            border-radius: 22px;
            background-color: $blue;
            margin-right: 30px;
        }
    }
    &__inner {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        
    }
}

//end followers
//start statistics
.statistics {
    background-color: #212225;
    &__inner {
        min-height: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .item__icon {
            span {
            font-size: 48px;
            }
        }
        .item__number {
            margin-top: 40px;
            font-size: 36px;
        }
        .item__desc {
            margin-top: 15px;
            font-size: 18px;
            color: #fff;
        }
    }
}

.yellow {
    color: #feb71d; 
}
.blue {
    color: #58c9e9;
}
.green {
    color: #77de51;
}
.red {
    color: #ff6a6d;
}
.purple {
    color: #7f4ec2;
}

//end statistics
//start advantages
.advantages{
    min-height: 1190px;
    background-color: #fff;
    padding: 120px 0px;
    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__title {
        font-size: 36px;
        line-height: 36px;
        color: #000;
        font-weight: 400;
        span {
            color: $blue;
        }
    }
    &__text {
        text-align: center;
        max-width: 680px;
        font-size: 16px;
        font-weight: 400;
        color: #555555;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &-item {
            max-width: 360px;
            border-radius: 4px;
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
            position: relative;
            padding: 50px 30px;
            margin-bottom: 30px;
            text-align: center;
        }
    }
    &__item-num {
        font-size: 48px;
        font-weight: 300;
        color: #5c87f8;
        opacity: 0.2;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    &__item-icon {
        color: $blue;
        font-size: 60px;
    }
    &__item-title {
        font-size: 24px;
        font-weight: 400;
        color: #000;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    &__item-text {
        font-size: 16px;
        line-height: 30px;
    }
}
//end advantages
//start join
.join {
    min-height: 560px;
    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__item {
        width: 50%;
        min-height: 560px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
    }
    &__icon {
        margin-top: 100px;
    }
    &__title {
        margin-top: 50px;
        font-size: 36px;
        font-weight: 400;
    }
    &__text {
        max-width: 590px;
        margin: 0 auto;
        padding-top: 25px;
        font-size: 16px;
        font-weight: 400;
    }
    &__btn {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        padding: 15px 40px;
        background-color: #fff;
        border-radius: 27px;
        margin: 48px 0;
    }
}
//end join
//start feedback
.feedback {
    min-height: 840px;
    padding: 120px 0px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        max-width: 555px;
        padding: 50px 40px;
        border-left: 2px solid $blue;
        position: relative;
    }
    &__user {
        display: flex;
        justify-content: flex-start;
        .user__avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 20px;
        }
        .user__name {
            color: #000;
            font-size: 20px;
            font-weight: 400;
        }
        .user_job {
            font-size: 16px;
            font-weight: 400;
            color: #555555;
        }
    }
    &__icon {
        position: absolute;
        top: 55px;
        right: 45px;
        font-size: 60px;
        color: #e8e8e8;
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        padding-top: 25px;
    }
}
//end feedback
//start news
.news {
    min-height: 885px;
    padding: 120px 0px;
    background-color: $bg-grey;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        max-width: 361px;
        max-height: 186px;
        background-color: #fff;
        padding-bottom: 25px;
        &--overflow {
            max-height: 160px;
            overflow: hidden;
        }
    }
    &__title {
        min-height: 53px;
        font-size: 22px;
        font-weight: 500;
        line-height: 28px;
        padding: 25px 30px 0px;
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        padding: 20px 30px 0px;
        margin-bottom: 25px;
    }
    &__details {
        color: #7e7e7e;
        font-size: 15px;
        font-weight: 400;
    }
    &__date {
        width: 50%;
        color: #999;
        line-height: 30px;
        padding: 5px 30px;
        margin: 10px 0px;
        border-right: 1px solid $bg-grey;
        span {
            color: $blue;
        }
    }
    &__views {
        margin-right: 30px;
    }
}
//end news
//start advantages2
.advantages2 {
    min-height: 300px;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        min-height: 300px;
        width: 50%;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        a {
            color: $blue;
        }
        a.purple {
            color: #7f4ec2;
        }
    }
    &__img {
        background-repeat: no-repeat;
        background-position: center;
        height: 120px;
        width: 155px;
        margin: 0 auto;
        margin-top: 65px;
        margin-bottom: 30px;
    }
    &__item + &__item {
        border-left: 1px solid $bg-grey;
    }
}
//end advantages2
//start join2
.join2 {
    min-height: 400px;
    background: linear-gradient(90deg, rgba(103,30,144,1) 0%, rgba(21,53,211,1) 100%);
    &__inner {
        text-align: center;
    }
    &__title {
        font-size: 36px;
        font-weight: 400;
        color: #fff;
        padding-top: 110px;
    }
    &__text {
        font-size: 18px;
        font-weight: 400;
        color: #e7e7e7;
        padding-top: 20px;
    }
    &__btn {
        color: $blue;
        background-color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        padding: 20px 45px;
        border-radius: 27px;
        margin-top: 45px;
    }
}
//end join2
//start footer
.footer {
    background-color: #262b30;
    color: #ababab;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 115px 0px;
        a,
        ul {
            color: #ababab;
        }
        span {
            color: #fff;
            font-size: 16px;
            margin-right: 10px;
        }
    }
    &__col {
        max-width: 265px;
        &.col__menu {
            max-width: 140px;
        }
        &.col__news {
            max-width: 360px;
        }
    }
    &__logo {
        margin-bottom: 16px;
    }
    &__text {
        font-size: 15px;
        line-height: 28px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    &__info {
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 15px;
    }
    &__address {
        display: flex;
        align-items: center;
    }
    &__title {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 25px;
        color: #fff;
        margin-top: 10px;
    }
    &__list {
        li {
            font-size: 15px;
            font-weight: 400;
            line-height: 32px;
        }
    }
    &__form {
        max-width: 360px;
        width: 100%;
        position: relative;
        input {
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            border: 1px solid #d9dfe5;
            font-size: 15px;
            outline: none;
            padding-left: 25px;
            padding-right: 115px;
            &::placeholder {
                color: $grey;
            }
        }
        button {
            padding: 0px 30px;
            height: 50px;
            border-radius: 25px;
            position: absolute;
            border: none;
            background-color: $blue;
            right: 0;
            top: 0;
            color: #fff;
        }
    }
    &__social {
        margin-top: 45px;
        li {
            display: inline-block;
            font-family: 'icomoon';
            position: relative;
            a {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                color: #fff;
            }
            .facebook {
                background-color: #395799;
            }
            .facebook::before {
                content: "\f09a";
                font-size: 16px;
                position: absolute;
                top: 7px;
                left: 16px;
            }
            .twitter {
                background-color: #19b2f5;
            }
            .twitter::before {
                content: "\f099";
                font-size: 16px;
                position: absolute;
                top: 7px;
                left: 14px;
            }
            .google {
                background-color: #f05b44;
            }
            .google::before {
                content: "\f1a0";
                font-size: 16px;
                position: absolute;
                top: 7px;
                left: 14px;
            }
            .pinterest {
                background-color: #9c0c1c;
            }
            .pinterest::before {
                content: "\f0d2";
                font-size: 16px;
                position: absolute;
                top: 7px;
                left: 14px;
            }
            .linkedin {
                background-color: #0da6be;
            }
            .linkedin::before {
                content: "\f0e1";
                font-size: 16px;
                position: absolute;
                top: 7px;
                left: 15px;
            }
            .ball {
                background-color: #ea4c89;
            }
            .ball::before {
                content: "\f17d";
                font-size: 16px;
                position: absolute;
                top: 7px;
                left: 14px;
            }
            & + li {
                margin-left: 10px;
            }
        }
    }
    &__copy {
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        background-color: #192027;
        padding: 35px;
        a {
            color: #fff;
        }
    }
}
//end footer
